extend layout

block content
  section#portfolio.bg-light-gray
       .container
         .row
           .col-lg-12.text-center
             h2.section-heading Artículos
           .row
             .col-md-4.col-sm-6.portfolio-item
               a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
                 .portfolio-hover
                   .portfolio-hover-content
                     i.fa.fa-plus.fa-3x
               .portfolio-caption
                 h4 Repositorio
                 a(href='http://www.energysystemsconference.com/' class="btn btn-info" role="button")
                   | Artificial Neural Networks for the design of solar collectors: An application on water heating in Ecuador
                 a(href='http://iopscience.iop.org/article/10.1088/1757-899X/129/1/012045/meta' class="btn btn-info" role="button")
                   | Micro-grid platform based on NODE.JS architecture, implemented in electrical network instrumentation
                 a(href='http://avestia.com/CDSR2016_Proceedings/files/paper/113.pdf' class="btn btn-info" role="button")
                   | Mini-Grid Data Storage and Management Cloud Computing for Smartgrid Architecture, Apply in Ecuador Electrical Network
                 a(href='http://avestia.com/CIST2016_Proceedings/files/paper/126.pdf' class="btn btn-info" role="button")
                   | Design a MicroGrid Component for SmartGrid Architecture
                 a(href='http://sites.ieee.org/argencon/' class="btn btn-info" role="button")
                   | Argencon 2016
