extends layoutAdmin

block content
      #page-wrapper
        .row
          .col-lg-12
            h1.page-header Morris.js Charts
          // /.col-lg-12
        // /.row
        .row
          .col-lg-6
            .panel.panel-default
              .panel-heading
                | Area Chart Example
              // /.panel-heading
              .panel-body
                #morris-area-chart
              // /.panel-body
            // /.panel
          // /.col-lg-6
          .col-lg-6
            .panel.panel-default
              .panel-heading
                | Bar Chart Example
              // /.panel-heading
              .panel-body
                #morris-bar-chart
              // /.panel-body
            // /.panel
          // /.col-lg-6
          .col-lg-6
            .panel.panel-default
              .panel-heading
                | Line Chart Example
              // /.panel-heading
              .panel-body
                #morris-line-chart
              // /.panel-body
            // /.panel
          // /.col-lg-6
          .col-lg-6
            .panel.panel-default
              .panel-heading
                | Donut Chart Example
              // /.panel-heading
              .panel-body
                #morris-donut-chart
              // /.panel-body
            // /.panel
          // /.col-lg-6
