extends layoutAdmin

block headMeta
  script(src='https://cdn.socket.io/socket.io-1.2.0.js')
  script(src='http://code.jquery.com/jquery-1.11.1.js')


block content
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Gráficos en tiempo real.
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            | Proceso en tiempo real entradas
          .panel-body
            .flot-chart
              #flot-line-chart-moving.flot-chart-content
            .col-lg-6
              #controls
                
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            | Proceso en tiempo real salidas
          .panel-body
            .flot-chart
              #flot-line-chart-moving_2.flot-chart-content
            .col-lg-6
              #controls_2
                
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            | Proceso en tiempo real analogas
          .panel-body
            .flot-chart
              #flot-line-chart-moving_3.flot-chart-content
            .col-lg-6
              #controls_3
        
block scriptBody
  script(src='/socket.io/socket.io.js')
  script(type='text/javascript', src='./js/dat.gui.min.js')
  script(type='text/javascript', src='./js/index.js')
  script(type='text/javascript', src='./js/gui_flots.js')
  script(type='text/javascript', src='./js/smoothie.js')
  if(vapor)
    script(type='text/javascript', src='./js/charts_flots.js')
    
  if(refri)
    script(type='text/javascript', src='./js/charts_flots_refri.js')
    
  if(oleo)
    script(type='text/javascript', src='./js/charts_flots_oleo.js')
