extends layoutAdmin

block content
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Flot
      // /.col-lg-12
    // /.row
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            | Line Chart Example
          // /.panel-heading
          .panel-body
            .flot-chart
              #flot-line-chart.flot-chart-content
          // /.panel-body
        // /.panel
      // /.col-lg-12
      .col-lg-6
        .panel.panel-default
          .panel-heading
            | Pie Chart Example
          // /.panel-heading
          .panel-body
            .flot-chart
              #flot-pie-chart.flot-chart-content
          // /.panel-body
        // /.panel
      // /.col-lg-6
      .col-lg-6
        .panel.panel-default
          .panel-heading
            | Multiple Axes Line Chart Example
          // /.panel-heading
          .panel-body
            .flot-chart
              #flot-line-chart-multi.flot-chart-content
          // /.panel-body
        // /.panel
      // /.col-lg-6
      .col-lg-6
        .panel.panel-default
          .panel-heading
            | Moving Line Chart Example
          // /.panel-heading
          .panel-body
            .flot-chart
              #flot-line-chart-moving.flot-chart-content
          // /.panel-body
        // /.panel
      // /.col-lg-6
      .col-lg-6
        .panel.panel-default
          .panel-heading
            | Bar Chart Example
          // /.panel-heading
          .panel-body
            .flot-chart
              #flot-bar-chart.flot-chart-content
          // /.panel-body
        // /.panel
      // /.col-lg-6
