doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Login
    // Bootstrap Core CSS
    link(href='../bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // MetisMenu CSS
    link(href='../bower_components/metisMenu/dist/metisMenu.min.css', rel='stylesheet')
    // Custom CSS
    link(href='../dist/css/sb-admin-2.css', rel='stylesheet')
    // Custom Fonts
    link(href='../bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    .container
      .row
        .col-md-4.col-md-offset-4
          .login-panel.panel.panel-default
            .panel-heading
              h3.panel-title Autenticación
            .panel-body
              form(role='form' action="/users/findPass" method="post")
                fieldset
                  .form-group
                    input.form-control(placeholder='E-mail', name='Email', type='email', autofocus='' id="Email")
                  .form-group
                    input.form-control(placeholder='Password', name='Password', type='password', value='' id="Password")
                  .checkbox
                    label
                      input(name='remember', type='checkbox', value='Remember Me')
                      | Recordarme
                  // Change this to a button or input when using this as a form
                  //a.btn.btn-lg.btn-success.btn-block(href='/admin') Login
                  button(class="btn btn-primary btn-lg btn-block") Enviar información
                  //- a.btn.btn-block.btn-social.btn-twitter(href='#')
                  //-   span.fa.fa-twitter
                  //-   |  Sign in with Twitter
                  a.btn.btn-block.btn-social.btn-facebook(href='/auth/facebook')
                    span.fa.fa-facebook
                    |  Registro o autenticación con Facebook
                  a(href="/register" class="btn btn-info" role="button") Registrar

    // jQuery
    script(src='../bower_components/jquery/dist/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='../bower_components/bootstrap/dist/js/bootstrap.min.js')
    // Metis Menu Plugin JavaScript
    script(src='../bower_components/metisMenu/dist/metisMenu.min.js')
    // Custom Theme JavaScript
    script(src='../dist/js/sb-admin-2.js')
