extend layout

block content
  section#portfolio.bg-light-gray
       .container
         .row
           .col-lg-12.text-center
             h2.section-heading Manuales
           .row
             .col-md-4.col-sm-6.portfolio-item
               a.portfolio-link(href='#portfolioModal1', data-toggle='modal')
                 .portfolio-hover
                   .portfolio-hover-content
                     i.fa.fa-plus.fa-3x
               .portfolio-caption
                 h4 Repositorio
                 a(href='http://epniaas.cedia.org.ec:8080/art1' class="btn btn-info" role="button")
                   | GUÍA DE PRÁCTICAS MEDIANTE LA UTILIZACIÓN DEL “VIRTUAL WEB LABORATORY”
                 a(href='http://epniaas.cedia.org.ec:8080/art2' class="btn btn-info" role="button")
                   | Configuración PLC Siemens S7-1200
                 a(href='http://epniaas.cedia.org.ec:8080/art3' class="btn btn-info" role="button")
                   | GUÍA DE..
                 a(href='http://epniaas.cedia.org.ec:8080/art4' class="btn btn-info" role="button")
                   | GUÍA DE..
                 a(href='http://epniaas.cedia.org.ec:8080/art5' class="btn btn-info" role="button")
                   | GUÍA DE..
