extend layoutAdmin

block headMeta
  script(src='https://cdn.socket.io/socket.io-1.2.0.js')
  script(src='http://code.jquery.com/jquery-1.11.1.js')

block content
  
  div(id="page-wrapper")
    div(class="container-fluid")
      div(class="row")
        div(class="col-lg-12")
          h1(class="page-header")
          table#dataTables-example.table.table-striped.table-bordered.table-hover
            thead
              tr 
                th  PLC_1
                th  ENTRADAS
                th  SALIDAS
                th  ANALOGAS
                th  Graf Entradas
                th  Graf Salidas
                th  Graf Analogas
            tbody
              tr
                td PLC_2
                td#datosPLC_E_plc_1
                td#datosPLC_S_plc_1
                td#datosPLC_A_plc_1
                td 
                  canvas#mycanvas0.img-responsive(width='200', height='100')
                td
                  canvas#mycanvas1.img-responsive(width='200', height='100')
                td
                  canvas#mycanvas2.img-responsive(width='200', height='100')
              tr      
                td PLC_3
                td#datosPLC_E_plc_2
                td#datosPLC_S_plc_2
                td#datosPLC_A_plc_2
                td 
                  canvas#mycanvas3.img-responsive(width='200', height='100')
                td
                  canvas#mycanvas4.img-responsive(width='200', height='100')
                td
                  canvas#mycanvas5.img-responsive(width='200', height='100')
              tr
                td PLC_1
                td#datosPLC_E_plc_3
                td#datosPLC_S_plc_3
                td#datosPLC_A_plc_3
                td 
                  canvas#mycanvas6.img-responsive(width='200', height='100')
                td
                  canvas#mycanvas7.img-responsive(width='200', height='100')
                td
                  canvas#mycanvas8.img-responsive(width='200', height='100')
          ul#messages
          script(type='text/javascript', src='./js/smoothie.js')

block scriptBody
  script(src='/socket.io/socket.io.js')
  script(type='text/javascript', src='./js/index.js')
  script(type='text/javascript', src='./js/charts.js')
